src/pdfa.xmpi
src/phd_thesis.aux
src/phd_thesis.bbl
src/phd_thesis.bcf
src/phd_thesis.blg
src/phd_thesis.lof
*.log
src/phd_thesis.lot
src/phd_thesis.out
src/phd_thesis.pdf
src/phd_thesis.synctex
src/phd_thesis.synctex.gz
src/phd_thesis.tcp
src/phd_thesis.toc
src/phd_thesis.tps
src/phd_thesis.run.xml
src/attachments/attachments.aux
src/conclusions/conclusions.aux
src/introduction/introduction.aux
src/materials_and_methods/materials_and_methods.aux
src/misc/misc.aux
src/objectives/objectives.aux
src/preface/preface.aux
src/results_and_discussion/results_and_discussion.aux
src/title/title.aux
src/scripts/__pycache__
src/results_and_discussion/assets/F.tex
src/results_and_discussion/assets/F.pdf
src/results_and_discussion/assets/artefact/artefact.tex
src/results_and_discussion/assets/artefact/artefact.pdf
src/results_and_discussion/assets/artefact/artefact_amphidinium.tex
src/results_and_discussion/assets/artefact/artefact_amphidinium.pdf
src/results_and_discussion/assets/concentration_optimization_hairpins/concentration_optimization_hairpins.pdf
src/results_and_discussion/assets/concentration_optimization_hairpins/concentration_optimization_hairpins.tex
src/results_and_discussion/assets/concentration_optimization_triplexes/concentration_optimization_triplexes.pdf
src/results_and_discussion/assets/concentration_optimization_triplexes/concentration_optimization_triplexes.tex
src/results_and_discussion/assets/cyclohexane_calibration/cyclohexane_calibration.tex
src/results_and_discussion/assets/cyclohexane_calibration/cyclohexane_calibration.pdf
src/results_and_discussion/assets/power_optimization_hairpins/power_optimization_hairpins.pdf
src/results_and_discussion/assets/power_optimization_hairpins/power_optimization_hairpins.tex
src/results_and_discussion/assets/power_optimization_triplexes/power_optimization_triplexes.pdf
src/results_and_discussion/assets/power_optimization_triplexes/power_optimization_triplexes.tex
src/results_and_discussion/assets/power_optimization_triplexes/power_optimization_triplexes_pU.pdf
src/results_and_discussion/assets/power_optimization_triplexes/power_optimization_triplexes_pU.tex
src/results_and_discussion/assets/power_optimization_triplexes2/power_optimization_triplexes2.pdf
src/results_and_discussion/assets/power_optimization_triplexes2/power_optimization_triplexes2.tex
src/results_and_discussion/assets/power_optimization_triplexes2/power_optimization_triplexes2_pU.pdf
src/results_and_discussion/assets/power_optimization_triplexes2/power_optimization_triplexes2_pU.tex
src/results_and_discussion/assets/pt_calibration/pt_calibration.tex
src/results_and_discussion/assets/pt_calibration/pt_calibration.pdf
src/results_and_discussion/assets/rotation_optimization/rotation_optimization.tex
src/results_and_discussion/assets/rotation_optimization/rotation_optimization.pdf
src/results_and_discussion/assets/rotation_optimization/rotation_optimization_kor.tex
src/results_and_discussion/assets/rotation_optimization/rotation_optimization_kor.pdf
src/results_and_discussion/assets/sn_ratio/sn_ratio.tex
src/results_and_discussion/assets/sn_ratio/sn_ratio.pdf
src/results_and_discussion/assets/sn_ratio/sn_ratio_sg.tex
src/results_and_discussion/assets/sn_ratio/sn_ratio_sg.pdf
src/results_and_discussion/assets/spectrograph_dispersion_meas/bounds_1200_range.tex
src/results_and_discussion/assets/spectrograph_dispersion_meas/bounds_1200_range.pdf
src/results_and_discussion/assets/spectrograph_dispersion_meas/bounds_2400_range.tex
src/results_and_discussion/assets/spectrograph_dispersion_meas/bounds_2400_range.pdf
src/results_and_discussion/assets/spinning_cell_rotation/fit.log
src/results_and_discussion/assets/spinning_cell_rotation/rotation.pdf
src/results_and_discussion/assets/spinning_cell_rotation/rotation.tex
*.bak
*.sav
