src/pdfa.xmpi
src/phd_thesis.aux
src/phd_thesis.bbl
src/phd_thesis.bcf
src/phd_thesis.blg
src/phd_thesis.lof
*.log
src/phd_thesis.lot
src/phd_thesis.out
src/phd_thesis.pdf
src/phd_thesis.synctex
src/phd_thesis.synctex.gz
src/phd_thesis.tcp
src/phd_thesis.toc
src/phd_thesis.tps
src/phd_thesis.run.xml
src/attachments/attachments.aux
src/conclusions/conclusions.aux
src/introduction/introduction.aux
src/materials_and_methods/materials_and_methods.aux
src/misc/misc.aux
src/objectives/objectives.aux
src/preface/preface.aux
src/results_and_discussion/results_and_discussion.aux
src/title/title.aux
src/scripts/__pycache__
src/results_and_discussion/assets/F.tex
src/results_and_discussion/assets/F.pdf
src/results_and_discussion/assets/spectrograph_dispersion_meas/bounds_1200_range.tex
src/results_and_discussion/assets/spectrograph_dispersion_meas/bounds_1200_range.pdf
src/results_and_discussion/assets/spectrograph_dispersion_meas/bounds_2400_range.tex
src/results_and_discussion/assets/spectrograph_dispersion_meas/bounds_2400_range.pdf
*.bak
*.sav